/* -------------base------------- */
html {
	--brand-green: hsl(162, 87%, 21%);
	--dark-green: hsl(162, 88%, 30%);
	--medium-green: hsl(162, 73%, 46%);
	--text-color: hsl(210, 11%, 15%);
	--gray: hsl(210, 7%, 56%);
	--light-gray: hsl(210, 17%, 95%);
	--extra-light-gray: hsl(210, 17%, 98%);
	--white: hsl(0, 0%, 100%);
	box-sizing: border-box;
	color: var(--text-color);
	--red: hsl(342, 63%, 46%);
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	margin: 0;
	font-family: Roboto, sans-serif;
	line-height: 1.4;
	letter-spacing: 0.01em;
	background-color: var(--extra-light-gray);
}
.fonts-failed body {
	font-family: Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4 {
	font-family: Sansita, serif;
	letter-spacing: 0.03em;
}
.fonts-failed h1,
.fonts-failed h2,
.fonts-failed h3,
.fonts-failed h4 {
	font-family: Georgia, serif;
}
p {
	margin: 1.5em 0;
}
a {
	color: var(--medium-green);
}
a:visited {
	color: var(--brand-green);
}
a:hover {
	color: var(--brand-green);
}
a:active {
	color: var(--red);
}

/* -------------nav------------- */
.nav-container {
	background-color: var(--medium-green);
}
.nav-container__inner {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	max-width: 1080px;
	margin: 0 auto;
	padding: 0.625em 0;
}
.home-link {
	color: var(--text-color);
	font-size: 1.6rem;
	font-family: Sansita, serif;
	font-weight: bold;
	letter-spacing: 0.03em;
	text-decoration: none;
}
.fonts-failed .home-link {
	font-family: Georgia, serif;
}
.top-nav {
	display: flex;
	list-style-type: none;
	margin: 0;
}
.top-nav > li + li {
	margin-left: 0.625em;
}
.top-nav a {
	display: block;
	font-size: 0.8rem;
	padding: 0.3rem 1.25rem;
	color: var(--white);
	text-decoration: none;
	background: var(--brand-green);
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 0.03em;
}
.top-nav a:hover {
	background-color: var(--dark-green);
}
.top-nav__featured > a {
	color: var(--brand-green);
	background-color: var(--white);
}
.top-nav__featured > a:hover {
	color: var(--medium-green);
	background-color: var(--white);
}
/* -------------hero------------- */
.hero {
	background: url(collaboration.jpg) no-repeat;
	background-size: cover;
	margin-bottom: 2.5rem;
}
.hero__inner {
	max-width: 1080px;
	margin: 0 auto;
	padding: 5.5625em 12.5em 12.5em 0;
	text-align: right;
}
.hero h2 {
	font-size: 1.95rem;
	letter-spacing: -0.02em;
	margin-top: 0;
	margin-bottom: 0.625rem;
}
.button {
	display: inline-block;
	padding: 0.4em 1em;
	color: var(--brand-green);
	border: 2px solid var(--brand-green);
	border-radius: 0.2em;
	text-decoration: none;
	font-size: 0.8rem;
}
.button:hover {
	background-color: var(--dark-green);
	color: var(--white);
}
.button--cta {
	padding: 0.6em 1em;
	background-color: var(--brand-green);
	color: var(--white);
	border: none;
}
/* -------------container------------- */
.container {
	max-width: 1080px;
	margin: 0 auto;
}
.tile-row {
	display: flex;
}
.tile-row > * {
	flex: 1;
}
.tile-row > * + * {
	margin-left: 1.5625em;
}
.tile {
	background-color: var(--white);
	border-radius: 0.3em;
	padding: 1.5625em;
}
.tile > h4 {
	margin-bottom: 1.5em; /* the space beneath the heading is always the same, even if it’s not followed immediately by a paragraph. */
}
.tag-list {
	list-style-type: none;
	padding-left: 0;
}
.tag-list > li {
	display: inline;
	padding: 0.3rem 0.5rem;
	font-size: 0.8rem;
	border-radius: 0.2rem;
	background-color: var(--light-gray);
	line-height: 2.6;
}

.page-footer {
	margin-top: 3em;
	padding: 1em 0;
	background-color: var(--light-gray);
	color: var(--gray);
}
.page-footer__inner {
	margin: 0 auto;
	max-width: 1080px;
	text-align: center;
	font-size: 0.8rem;
}
