html {
	--brand-green: hsl(162, 87%, 21%);
	--dark-green: hsl(162, 88%, 30%);
	--medium-green: hsl(162, 73%, 46%);
	--text-color: hsl(210, 11%, 15%);
	--gray: hsl(210, 7%, 56%);
	--light-gray: hsl(210, 17%, 95%);
	--extra-light-gray: hsl(210, 17%, 98%);
	--white: hsl(0, 0%, 100%);
	box-sizing: border-box;
	color: var(--text-color);
	--red: hsl(342, 63%, 46%);
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.4;
	background-color: var(--extra-light-gray);
}
h1,
h2,
h3,
h4 {
	font-family: Georgia, serif;
}
a {
	color: var(--medium-green);
}
a:visited {
	color: var(--brand-green);
}
a:hover {
	color: var(--brand-green);
}
a:active {
	color: var(--red);
}

/* -------------nav------------- */
.nav-container {
	background-color: var(--medium-green);
}
.nav-container__inner {
	display: flex;
	justify-content: space-between;
	max-width: 1080px;
	margin: 0 auto;
}
.home-link {
	color: var(--text-color);
	font-size: 1.6rem;
	font-family: Georgia, serif;
	font-weight: bold;
	text-decoration: none;
}
.top-nav {
	display: flex;
	list-style: none;
}
.top-nav a {
	display: block;
	padding: 0.3em 1.25em;
	color: var(--white);
	text-decoration: none;
	background: var(--brand-green);
	border-radius: 3px;
}
.top-nav a:hover {
	background-color: var(--dark-green);
}
.top-nav__featured > a {
	color: var(--brand-green);
	background-color: var(--white);
}
.top-nav__featured > a:hover {
	color: var(--medium-green);
	background-color: var(--white);
}
/* -------------hero------------- */
.hero {
	background: url(collaboration.jpg) no-repeat;
	background-size: cover;
	margin-bottom: 2.5rem;
}
.hero__inner {
	max-width: 1080px;
	margin: 0 auto;
	padding: 50px 0 200px;
	text-align: right;
}
.hero h2 {
	font-size: 1.95rem;
}
.button {
	display: inline-block;
	padding: 0.4em 1em;
	color: var(--brand-green);
	border: 2px solid var(--brand-green);
	border-radius: 0.2em;
	text-decoration: none;
	font-size: 1rem;
}
.button:hover {
	background-color: var(--dark-green);
	color: var(--white);
}
.button--cta {
	padding: 0.6em 1em;
	background-color: var(--brand-green);
	color: var(--white);
	border: none;
}
/* -------------container------------- */
.container {
	max-width: 1080px;
	margin: 0 auto;
}
.tile-row {
	display: flex;
}
.tile-row > * {
	flex: 1;
}
.tile {
	background-color: var(--white);
	border-radius: 0.3em;
}
.page-footer {
	margin-top: 3em;
	padding: 1em 0;
	background-color: var(--light-gray);
	color: var(--gray);
}
.page-footer__inner {
	margin: 0 auto;
	max-width: 1080px;
	text-align: center;
	font-size: 0.8rem;
}
