body {
	font-family: Helvetica, Arial, sans-serif;
}
.dropdown__toggle {
	display: block;
	padding: 0.5em 1em;
	border: 1px solid hsl(280, 10%, 80%);
	color: hsl(280, 30%, 60%);
	background-color: white;
	font: inherit;
	text-decoration: none;
	transition: background-color 0.2s linear;
}
.dropdown__toggle:hover {
	background-color: hsl(280, 15%, 95%);
}
.dropdown__drawer {
	position: absolute;
	/* display: none; */
	background-color: white;
	width: 10em;
	opacity: 0;
	transition: opacity 0.2s linear;
}
.dropdown.is-open .dropdown__drawer {
	/* display: block; */
	opacity: 1;
}
.menu {
	padding-left: 0;
	margin: 0;
	list-style: none;
}
.menu > li + li > a {
	border-top: 0;
}
.menu > li > a {
	display: block;
	padding: 0.5em 1em;
	color: hsl(280, 40%, 60%);
	background-color: white;
	text-decoration: none;
	transition: all 0.2s linear;
	border: 1px solid hsl(280, 10%, 80%);
}
.menu > li > a:hover {
	background-color: hsl(280, 15%, 95%);
	color: hsl(280, 25%, 10%);
}
